
<ul class="breadcrumb">
	<li><a href="#/">Home</a>
	<li><a href="#Actor/home">Actor</a></li>
	<li class="active">Administrar</li>
</ul>
<form name="actorAdminForm">
	<fieldset>
		<legend>Administraci&oacute;n de Actores</legend>
		<div>
			<div class="form-group">
				<label for="nombreActor" class="col-lg-2 col-md-2 control-label">Nombre</label>
				<div class="col-lg-10 col-md-10">
					<div class="col-lg-11">
						<input type="text" class="form-control" id="nombreActor"
							name="nombre" ng-model="nombre" placeholder="Nombre Actor"
							pattern=".{0,50}">
					</div>
					<div class="col-lg-11">
						<div class="alert alert-dismissible alert-danger"
							ng-show="actorAdminForm.nombreActor.$error.pattern">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Error!</strong> El nombre del actor debe tener un máximo
							de 50 caracteres.
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary" data-container="body"
					data-toggle="popover" data-placement="top" ng-click="listar()">Buscar</button>
			</div>
		</div>
	</fieldset>
</form>
<div class="formclass">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th class="col-xs-6">Nombre</th>
						<th class="col-xs-2">Fecha de nacimiento</th>
						<th class="col-xs-2">G&eacute;nero</th>
						<th class="col-xs-1">Oscars ganados</th>
						<th class="col-xs-1">Acci&oacute;n</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in actores">
						<td>{{a.nombreactor}}</td>
						<td>{{a.nacimiento}}</td>
						<td>{{a.genero}}</td>
						<td>{{a.idactor}}</td>
						<td>
							<form>
								<a class="btn btn-default" href="#Actor/modificar/{{a.idactor}}"> <span
									class="material-icons md-16">&#xE150;</span>
								</a>
							</form>
						</td>
						<td>
							<form>
								<button class="btn btn-default" ng-click="eliminar(a.idactor)"> <i
									class="material-icons md-16">&#xE872;</i>
								</button>
							</form>
						</td>
						<td>
							<form>
								<a class="btn btn-default" href="#Actor/ver/{{a.idactor}}"> <i
									class="material-icons">&#xE8F4;</i>
								</a>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="appMsg">
		<div uib-alert ng-repeat="alert in alerts"
			ng-class="'alert-' + (alert.type || 'warning')"
			close="closeAlert($index)">{{alert.msg}}</div>
</div>