<ul class="breadcrumb">
	<li><a href="#/">Home</a>
	<li><a href="#/Actor/home">Actor</a></li>
	<li class="active">Informaci&oacute;n</li>
</ul>
<form class="form-horizontal" name="actorRegistrarForm" data-ng-init="buscar()">
	<fieldset>
		<legend>Informaci&oacute;n del Actor</legend>
		<div class="form-group">
			<label for="nombreActor" class="col-lg-2 col-md-2 control-label">Nombre</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-11">
					<input type="text" class="form-control" id="nombreActor"
						name="nombreActor" ng-model="actor.nombreactor"
						placeholder="Nombre Actor" pattern=".{0,50}" required readonly>
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorRegistrarForm.nombreActor.$error.required"></span>
				</div>
				<div class="col-lg-11">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorRegistrarForm.nombreActor.$error.pattern">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> El nombre del actor debe tener un máximo
						de 50 caracteres.
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="fecha" class="col-lg-2 control-label">Fecha de
				nacimiento</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-11">
					<input type="date" class="form-control" id="fecha" name="fecha"
						ng-model="actor.nacimiento" placeholder="yyyy-mm-dd" required readonly>
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorRegistrarForm.fecha.$error.required"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">G&eacute;nero</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-11">
					<div class="radio">
						<label> <input type="radio" ng-model="actor.genero"
							name="genero" id="generoM" value="Masculino" required disabled>
							Masculino
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" ng-model="actor.genero"
							name="genero" id="GeneroF" value="Femenino" required disabled>
							Femenino
						</label>
					</div>
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorRegistrarForm.genero.$error.required"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="oscars" class="col-lg-2 control-label">N&uacute;mero
				de Oscars</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-11">
					<input type="text" class="form-control" id="oscars"
						placeholder="Nro de oscars" name="oscars" required
						pattern="^\d{1,2}$"
						title="&Uacute;nicamente se admiten n&uacute;meros de hasta 2 d&iacute;gitos"
						ng-model="actor.oscars" readonly min="0" />
				</div>
				<div class="col-lg-1">

					<span class="msgError"
						ng-show="actorRegistrarForm.oscars.$error.required"></span>
				</div>
				<div class="col-lg-11">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorRegistrarForm.oscars.$error.pattern">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> No puede ingresar un numero mayor a 99.
					</div>
				</div>
				<div class="col-lg-11">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorRegistrarForm.oscars.$error.min">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> No puede ingresar un numero menor a 0.
					</div>
				</div>
			</div>
		</div>
		<div>
			<a class="btn btn-primary" data-container="body"
				data-toggle="popover" data-placement="top" href="#/Actor/home">Volver</a>
			
		</div>
	</fieldset>
</form>
