
<ul class="breadcrumb">
	<li><a href="#/">Home</a>
	<li><a href="#/Actor/home">Actor</a></li>
	<li class="active">Modificar</li>
</ul>
<form class="form-horizontal" name="actorModificarForm" data-ng-init="buscar()">
	<fieldset>
		<legend>Modifaci&oacute;n de Actor</legend>
		<div class="form-group">
			<label for="nombreActor" class="col-lg-2 col-md-2 control-label">Nombre</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-10">
					<input type="text" class="form-control" id="nombreActor"
						name="nombreActor" ng-model="actor.nombreactor"
						placeholder="Nombre Actor" pattern=".{0,50}" required>
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorModificarForm.nombreActor.$error.required">(*)</span>
				</div>
				<div class="col-lg-10">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorModificarForm.nombreActor.$error.pattern">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> El nombre del actor debe tener un máximo
						de 50 caracteres.
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="nacimiento" class="col-lg-2 control-label">Fecha de
				nacimiento</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-10">
					<input type="date" class="form-control" id="nacimiento" name="nacimiento"
						ng-model="actor.nacimiento" placeholder="yyyy-mm-dd" required value="{{actor.nacimiento}}">
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorModificarForm.nacimiento.$error.required">(*)</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">G&eacute;nero</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-10">
					<div class="radio">
						<label> <input type="radio" ng-model="actor.genero"
							name="genero" id="generoM" value="Masculino" required>
							Masculino
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" ng-model="actor.genero"
							name="genero" id="GeneroF" value="Femenino" required>
							Femenino
						</label>
					</div>
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorModificarForm.genero.$error.required">(*)</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="oscars" class="col-lg-2 control-label">N&uacute;mero
				de Oscars</label>
			<div class="col-lg-10 col-md-10">
				<div class="col-lg-10">
					<input type="number" class="form-control" id="oscars"
						placeholder="Nro de oscars" name="oscars" required
						title="&Uacute;nicamente se admiten n&uacute;meros de hasta 2 d&iacute;gitos"
						ng-model="actor.oscars" min="0" max="30" />
				</div>
				<div class="col-lg-1">
					<span class="msgError"
						ng-show="actorModificarForm.oscars.$error.required">(*)</span>
				</div>
				<div class="col-lg-11">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorModificarForm.oscars.$error.max">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> No puede ingresar un numero mayor a 30.
					</div>
				</div>
				<div class="col-lg-11">
					<div class="alert alert-dismissible alert-danger"
						ng-show="actorModificarForm.oscars.$error.min">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Error!</strong> No puede ingresar un numero menor a 0.
					</div>
				</div>
			</div>
		</div>
		<div>
			<button type="button" ng-click="modificar()" class="btn btn-primary" data-container="body"
				data-toggle="popover" data-placement="top">Modificar</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-primary" data-container="body"
				data-toggle="popover" data-placement="top" href="#/Actor/home">Volver</a>
		</div>
	</fieldset>
</form>
<div class="appMsg">
	<div uib-alert ng-repeat="alert in alerts"
		ng-class="'alert-' + (alert.type || 'warning')"
		close="closeAlert($index)">{{alert.msg}}</div>
</div>