<ul class="breadcrumb">
    <li><a href="#/">Home</a>
    <li><a href="#/Productora/home">Productora</a></li>
    <li class="active">Informaci&oacute;n</li>
</ul>
<form class="form-horizontal" method="post" action="" name="productoraRegistrarForm" data-ng-init="init()">
    <fieldset>
        <legend>Informaci&oacute;n de Productora</legend>
        <div class="form-group">
            <label for="nombreProductora" class="col-lg-2 col-md-2 control-label">Nombre</label>
            <div class="col-lg-10 col-md-10">
                <div class="col-lg-11">
                    <input type="text" readonly class="form-control" id="nombreProductora" name="nombreProductora" ng-model="productora.nombreproductora" placeholder="Nombre de Productora" pattern=".{0,50}" required value="{{productora.nombreProductora}}">
                </div>
                <div class="col-lg-1">
                    <span class="msgError" ng-show="productoraRegistrarForm.nombreProductora.$error.required">(*)</span>
                </div>
                <div class="col-lg-11">
                    <div class="alert alert-dismissible alert-danger" ng-show="productoraRegistrarForm.nombreProductora.$error.pattern">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Error!</strong> El nombre de la Productora debe tener un m&aacute;ximo de 50 caracteres.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Pa&iacute;s</label>
            <div class="col-lg-10 col-md-10">
                <div class="col-lg-11">
                    <input class="form-control" readonly rows="3" id="textArea"
                           name="paisProductora" required pattern=".{0,250}" title="&Uacute;nicamente se admiten 205 caracteres" ng-model="productora.paisproductora" value="{{productora.paisProductora}}"/>

                </div>
                <div class="col-lg-1">

                    <span class="msgError" ng-show="productoraRegistrarForm.paisProductora.$error.required">(*)</span>
                </div>
                <div class="col-lg-11">
                    <div class="alert alert-dismissible alert-danger" ng-show="productoraRegistrarForm.paisProductora.$error.pattern">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Error!</strong> No puede ingresar m&aacute;s de 250 caracteres.
                    </div>
                </div>
            </div>

        </div>

        <div>
            <a class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="top" href="#/Productora/administrar">Regresar</a>
        </div>
    </fieldset>
</form>

<div class="appMsg">
    <div uib-alert ng-repeat="alert in alerts"
         ng-class="'alert-' + (alert.type || 'warning')"
         close="closeAlert($index)">{{alert.msg}}</div>
</div>