
<ul class="breadcrumb">
	<li><a href="#/">Home</a>
	<li><a href="#/Director/home">Director</a></li>
	<li class="active">Administrar</li>
</ul>

<form name="directorAdminForm">
	<fieldset>
		<legend>Administraci&oacute;n de Directores</legend>
		<div>
			<div class="form-group">
				<label for="nombreDirector" class="col-lg-2 col-md-2 control-label">Nombre</label>
				<div class="col-lg-10 col-md-10">
					<div class="col-lg-11">
						<input type="text" class="form-control" id="nombreDirector"
							name="nombre" ng-model="nombre" placeholder="Nombre Director"
							pattern=".{0,50}">
					</div>
					<div class="col-lg-11">
						<div class="alert alert-dismissible alert-danger"
							ng-show="directorAdminForm.nombre.$error.pattern">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Error!</strong> El nombre del director debe tener un
							m&aacute;ximo de 50 caracteres.
						</div>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary" data-container="body"
					data-toggle="popover" data-placement="top" ng-click="listar()">Buscar</button>
			</div>
		</div>
	</fieldset>
</form>
<div class="formclass">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th class="col-xs-6">Nombre</th>
						<th class="col-xs-2">Fecha de nacimiento</th>
						<th class="col-xs-2">G&eacute;nero</th>
						<th class="col-xs-1">Acci&oacute;n</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="d in directores">
						<td>{{d.nombredirector}}</td>
						<td>{{d.nacimiento}}</td>
						<td>{{d.genero}}</td>
						<td>
							<form>
								<a class="btn btn-default"
									href="#/Director/modificar/{{d.iddirector}}" ng-click="buscar()"> <span
									class="material-icons md-16">&#xE150;</span>
								</a>
							</form>
						</td>
						<td>
							<form>
								<button class="btn btn-default" ng-click="eliminar(d.iddirector)"> <i
									class="material-icons md-16">&#xE872;</i>
								</button>
							</form>
						</td>
						<td>
							<form>
								<a class="btn btn-default"
									href="#/Director/ver/{{d.iddirector}}" ng-click="buscar()"> <i
									class="material-icons">&#xE8F4;</i>
								</a>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
