<ul class="breadcrumb">
	<li><a href="#">Home</a>
  	<li class="active">Cuenta</li>
</ul>
<h1>Men&uacute; de administraci&oacute;n de Cuenta</h1>
	
<a href="#Cuenta/info" class="btn btn-default btn-lg btn-block">Ver Informaci&oacute;n de la Cuenta</a>

<a href="#Cuenta/registrar" class="btn btn-default btn-lg btn-block" ng-show="usuario.isadmin == 1">Registrar usuario</a>
	
<a href="#Cuenta/administrar" ng-show="usuario.isadmin == 1" class="btn btn-default btn-lg btn-block">Administrar</a>

<a href="#Cuenta/modificar/{{usuario.correousr}}" class="btn btn-default btn-lg btn-block">Modificar Cuenta</a>

<a href="#Cuenta/eliminar/{{usuario.correousr}}" class="buttonsHome btn btn-default btn-lg btn-block" ng-hide="usuario.isadmin == 1"
	name="usuarioEliminar" ng-click="eliminarUsr()">Darse de baja</a>

<a href="#" class="buttonsHome btn btn-default btn-lg btn-block" ng-click="cerrarSesion()">
	Cerrar	sesi&oacute;n</a>
